#jq-keyboard {
    position: absolute;
    padding: 10px 10px 5px 10px;
    border-radius: 3px;
    border-bottom: 3px solid #CCC;
    width: auto;
    height: auto;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
    background: #FFF;
    overflow: hidden;
    bottom: 10px;
    right: 10px;
}

#jqk-lang-cont {
    margin-bottom: 10px;
}

.jqk-btn {
    width: 37px; height: 35px;
    border-radius: 4px;
    background: #EEE;
    border: none;
    border-bottom: 3px solid #CCC;
    padding: 0;
    margin: 0 2px 0 2px;
    font-size: 15px;
    color: #666;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    cursor: pointer;
}

.jqk-btn:focus {
    outline: none;
}

.jqk-btn:hover {
    box-shadow: 0 0 2px 2px #1c94c4;
    transition: box-shadow 0.3s ease;
}

#jq-keyboard .btn-row {
    text-align: center;
    margin-bottom: 5px;
    height: 35px;
}

.btn-row:last-child {
//    margin-bottom: 10px;
}

.clicked, .jqk-btn.selected {
    position: relative;
    top: 2px;
    height: 33px;
    border-bottom: 1px solid #CCC;
}

#jq-keyboard .jqk-btn.space {
    width: 230px;
}

#jq-keyboard .jqk-btn.backspace {
    width: 60px;
}

#jq-keyboard .jqk-btn.tab {
    width: 50px;
}

#jq-keyboard .jqk-btn.shift {
    width: 70px;
}

#jq-keyboard .jqk-btn.capslock {
    width: 60px;
}

#jq-keyboard .jqk-btn.enter {
    width: 70px;
}

.jqk-hide {
    display: none;
}

.jqk-btn.selected {
    //box-shadow: inset 0 0 3px 0 #3a8104;
    color: #CCC;
}

.jqk-btn.selected:before {
    position: absolute;
    width: 7px; height: 7px;
    border-radius: 7px;
    background: #4eb305;
    top: 5px; left: 5px;
}

.jqk-lang-btn {
    font-size: 10px;
    margin-left: 0;
    background: #EEE;
    color: #666;
    border: none;
    cursor: pointer;
}

.jqk-lang-btn:hover {
    color: #222;
}

.jqk-lang-btn.selected {
    background: #1c94c4;
    color: #FFF;
}

#jqk-lang-cont > .jqk-lang-btn:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#jqk-lang-cont > .jqk-lang-btn:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#jqk-lang-cont > .jqk-lang-btn:only-child {
    border-radius: 3px;
}

/*tmp*/

#jq-keyboard .jqk-btn.tab::after {
    content: "Tab";
}

#jq-keyboard .jqk-btn.capslock::after {
    content: "CpsLck";
}

#jq-keyboard .jqk-btn.shift::after {
    content: "Shift";
}

#jq-keyboard .jqk-btn.enter::after {
    content: "Enter";
}

#jq-keyboard .jqk-btn.backspace::after {
    content: "BCK";
}