#jq-keyboard {
    position: absolute;
    width: auto;
    height: auto;
    bottom: 10px;
    right: 10px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    background: #0070a3;
}

#jq-keyboard .jqk-btn.space {
    width: 150px;
}

#jq-keyboard .jqk-btn.backspace {
    background: red;
}

#jq-keyboard .jqk-btn.tab {
    background: blue;
}

#jq-keyboard .jqk-btn.shift {
    background: green;
}

#jq-keyboard .jqk-btn.capslock {
    background: brown;
    height: 10px;
}

#jq-keyboard .jqk-btn.enter {
    background: #000000;
}

.jqk-hide {
    display: none;
}

.selected {
    border: 1px solid green;
}